

.controls {
    position: absolute;
    top: 0px;
    right: 0px;
    height: auto;
    width : 300px;
    padding : 5px;
    display: none;
}
.controls span{
    float: left;
    width: 100%;
    margin: 5px;
}

.controls img {
    vertical-align: sub;
}
