
html, body, div, canvas {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: arial; 
}
canvas {
    display:block;
}
div {
    border-radius: 3px;
    background-color: rgba(255,255,255, 0.8);
}

#mapbox {
    position: absolute;
    right: 10px;
    bottom: 10px;
    height: auto;
    width: auto;
}
