
<<<<<<< HEAD
=======

>>>>>>> 23e05ef71be1b09ee9e2170d4eebdcf2984188c6
html, body, div, canvas {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: arial; 
}
canvas {
    display:block;
}
div {
    border-radius: 3px;
}
